[
    {emq_modbus, [
            {company, "CompanyX"},
            {edgename, "EdgeY"},
            {qos, 1},
            {retain, false},
            {device, [
                        {"192.168.0.2", 502, "motor"},
                        {"192.168.0.9", 502, "thermo"}
                    ]
            }
        ]
    }
].
